* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    position: fixed;
    top: 0;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    height: 100px;
    width: 100%;
    background:rgba(255,255,255, 0.3);
}
header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 7%;
}
header h1 .pizza-font {
    font-weight: 100;
}
.header-menu {
    width: 30%;
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
}
.login {
    background-color: white;
}
.checkout {
    padding: 6px 15px;
    border: 1px solid coral;
    border-radius: 25px;
    color: coral;
    background-color: white;
}
.checkout:hover {
    border: none;
    background-color: coral;
    color: white;
}
.user-image {
    width: 25px;
    height: 25px;
}
main {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.hero-image, form {
    width: 50%;
}
.username-field {
    position: fixed;
    bottom: 35px;
    left: 10%;
    width: 30%;
    padding: 12px;
    background:rgba(255,255,255, 0.8);
    border-radius: 10px;
    border: none;
}
::placeholder {
    text-align: center;
}

form fieldset {
    width: 80%;
    margin: 0 auto 45px;
    border: none;
}
form h3 {
    font-size: .9rem;
    margin-bottom: 25px;
}

.servings {
    
}

.servings input[type="radio"]{
    accent-color: #FA9E57;
  }
.servings span {
    font-size: small;
}

.label {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: .05px dotted black;
}
.label span {
    font-size: smaller;
}
.label span:first-child {
    margin-left: 5px;
}
.label span:nth-child(2) {
    margin-left: 250px;
}

.toppings {
    /*display: flex;
    flex-wrap: wrap;
    gap: 10px;*/
}
.toppings > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: smaller;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: .05px dotted black;
    /*padding: 10px 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-top-right-radius: 5px;*/
  }
.toppings input[type=checkbox]:checked{
    accent-color: #FA9E57;
}

select {
    width: 80%;
    margin: 0 auto 45px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}